<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	  	http://www.springframework.org/schema/beans/spring-beans.xsd"
	  	default-init-method="myInit"
	  	default-destroy-method="myDestroy" 
	  	>


	<bean id="triangle" class="com.christy.springdemo.Triangle">
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean>

	<bean id="pointA" class="com.christy.springdemo.Point">
		<property name="x" value="${pointA.pointX}" />
		<property name="y" value="${pointA.pointY}" />
	</bean>

	<bean id="pointB" class="com.christy.springdemo.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointC" class="com.christy.springdemo.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>
	
<!-- 	<bean class="com.christy.springdemo.DisplayNameBeanPostProcessor" /> -->

	<bean class="com.christy.springdemo.MyBeanFactoryPostProcessor" />
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig.properties" />
	</bean> 

</beans>  	 